/* ---------------------------------------------------------
   Feuille de style des squelettes par defaut pour SPIP 2.0
   --------------------------------------------------------- */
* {
	border:0;
	font-size:100%;
	margin:0; padding:0;
	vertical-align:baseline;
}
@font-face {
	font-family:GillSansStdRegular;
	src: url('fontface/gillsansstd-webfont.eot');
	src: url('fontface/gillsansstd-webfont.eot?#iefix') format('embedded-opentype'),
		url('fontface/gillsansstd-webfont.woff') format('woff'),
		url('fontface/gillsansstd-webfont.ttf') format('truetype'),
		url('fontface/gillsansstd-webfont.svg#GillSansStdRegular') format('svg');
}

HTML { font-size:100%; }
BODY {
	font-size:0.8125em; font-family:Verdana,Arial,Helvetica,sans-serif;
	background:#ffffff url(images/cemea_fond.gif) no-repeat 50% 0%; text-align:center; color:#000000;
}

strong { font-weight: bold; }
em { font-style: italic; }
abbr, acronym { border-bottom: 1px dotted; cursor: help; }
small { font-size: 0.90em; color: #666; }
dfn { font-weight: bold; color: #666; }
del { text-decoration: line-through; }
ins { color: red !important; text-decoration: none; }
sup, sub { font-size: .8em; font-variant: normal; }

.clearall { clear:both; font-size:1px; line-height:1px; }

#header { width:940px; height:155px; margin:0 auto; text-align:right; }
#lienlogo:hover IMG, #lienlogo:focus IMG { background:#30A8D4; }
#page {
	padding:1px; background:transparent url(images/cemea_bas.gif) no-repeat 50% 100%; text-align:center; min-width:940px;
}
#centre {
	margin:0 auto; width:940px; text-align:left;
	min-height:430px; height:auto; /*--- height:auto !important; height:430px; ---*/
}
.ie6 #centre { height:430px; }
#cgauche { float:left; width:620px; margin-bottom:32px; color:#000000; }

#cgauche A { color:#006090; }
#cgauche A:link, #cgauche A:visited { text-decoration:underline; }
#cgauche A:focus, #cgauche A:hover, #cgauche A:active { text-decoration:none; }

#cgauche UL { list-style-position:outside; margin:5px 0 5px 16px; }

#cgauche A.atitre:link, #cgauche A.atitre:visited { text-decoration:none;  }
#cgauche A.atitre:hover { text-decoration:underline; }

A.asuite { float:right; font-size:85%; }
#cgauche A.asuite:link, #cgauche A.asuite:visited { text-decoration:none;  }
#cgauche A.asuite:hover { text-decoration:underline; }

#cdroite { float:right; width:280px; color:#000000; padding-top:16px; }
#cdroite A:link, #cdroite A:visited { text-decoration:none; }
#cdroite A:focus, #cdroite A:hover, #cdroite A:active { text-decoration:underline; }

#footer1 { clear:both; width:900px; height:80px; margin:0 auto; padding:0 15px 0 15px; text-align:center; font-family:GillSansStdRegular,serif; color:#868889; }
#footer1 IMG { float:left; padding:0 25px 0 0; }

#footer2 { clear:both; width:890px; height:55px; margin:0 auto; padding:35px 35px 0 35px; text-align:left; font-family:GillSansStdRegular,serif; font-style:italic; color:#ffffff; }
#footer2 P { width:350px; }
#footer2 UL { float:right; }
#footer2 LI {
	float:left; margin:0; padding:0 12px 0 8px; list-style-type:none;
	border-style:solid; border-color:#ffffff; border-width:0 0 0 1px;
}
#footer2 A { color:#ffffff; }
#footer2 A:link, #footer2 A:visited { text-decoration:underline; }
#footer2 A:hover { text-decoration:none; }

#footer3 { clear:both; width:940px; height:40px; margin:0 auto; padding:5px 0 0 0; text-align:right; background:#ffffff; font-family:GillSansStdRegular,serif; font-size:90%; }
#footer3 A { color:#888888; }
#footer3 A:link, #footer3 A:visited { text-decoration:none; }
#footer3 A:hover { text-decoration:underline; }

#fojesuis { clear:both; font-weight:bold; color:#ffffff; }
#jesuisprofil { padding:4px; border:none; font-family:GillSansStdRegular,serif; color:#666666; }

#menu0ul { float:right; height:40px; margin-top:30px; list-style-type:none; }
#menu0ul LI { float:left; height:30px; margin-left:8px; }

#menu0ul A { display:block; float:left; padding:6px 20px; color:#ffffff; font-weight:bold; }
#menu0ul A:link, #menu0ul A:visited { text-decoration:none; }
#menu0ul A:hover { text-decoration:underline; }

#menuli1 { background:#EF7D0B; } #menuli2 { background:#E2017B; } #menuli3 { background:#29367C; } #menuli4 { background:#FBC121; }
#menuli5 { background:#46A12A; } #menuli6 { background:#EF7D0B; } #menuli7 { background:#E2017B; }

#chemin { margin-bottom:12px; color:#009BCA; }
#chemin A { color:#868889; }
#chemin A:link, #chemin A:visited { text-decoration:none; }
#chemin A:hover { text-decoration:underline; }
#chemin .avecpuce { padding-left:12px; background:url(images/pucechemin.gif) no-repeat 0% 4px; }

.roundies, .roundie2 { -icab-border-radius:4px; -khtml-border-radius:4px; -moz-border-radius:4px; -o-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; }

H1.htitre { font-size:2.5em; font-weight:normal; color:#008FD3; padding-bottom:15px; margin-bottom:10px; border-width:0 0 3px 0; border-style:solid; border-color:#008FD3; text-align:left; }
H2.htitre { font-size:1.4em; font-weight:normal; color:#73B1D4; margin-bottom:12px; border:none; text-align:left; }
H3.htitre, H3.spip { font-size:1.3em; font-weight:normal; color:#73B1D4; margin-bottom:12px; border:none; text-align:left; }
H4.htitre { font-size:1.2em; font-weight:bold; margin-bottom:10px; border:none; text-align:left; color:#006090; }

.somcol_1, .somcol_2, .somcol_3 { float:left; width:180px; border-width:3px 0 0 0; border-style:solid; border-color:#008FD3; padding-top:15px; }
.somcol_1, .somcol_2 { margin-right:40px; }

.listeul { margin:0 0 0 16px; padding:0; list-style-type:disc; list-style-position:outside; }
.listeul A { color:#333333; }
#cgauche .listeul A:link, #cgauche .listeul A:visited { text-decoration:none; }
#cgauche .listeul A:hover { text-decoration:underline; }
.listeli { clear:both; margin:0; padding:2px 0; }
.blocdroite { float:right; width:86%; }
.lipar { color:#333333; font-size:.88em; }

.precsuiv { clear:both; font-weight:bold; margin:10px 0 0 0; text-align:center; }
.precsuiv A { color:#707070; }

#titrecherche { font-size:2.2em; font-weight:normal; color:#45A12A; margin:12px 0; }
#boitecherche { width:250px; padding:20px 15px; margin-bottom:20px; background:#45A12A; color:#ffffff; }
#boitecherche input.text { margin-top:2px; padding:4px 0 4px 4px; border:none; width:78%; }
#boitecherche .submit { font-weight:bold; background:#53B237; color:#ffffff; padding:4px; border:none; }

#titreabonn { font-size:2.2em; font-weight:normal; color:#008FD3; margin:12px 0; }
#boiteabonn { width:250px; padding:20px 15px; margin-bottom:20px; background:#008FD3; color:#ffffff; }
#boiteabonn input.text { margin-top:2px; padding:4px 0 4px 4px; border:none; width:78%; }
#boiteabonn .submit { font-weight:bold; background:#609FE8; color:#ffffff; padding:4px; border:none; }

#titrelogin { font-size:2.2em; font-weight:normal; color:#45A12A; margin:12px 0; }
#boitelogin { width:250px; padding:20px 15px; margin-bottom:20px; background:#45A12A; color:#ffffff; }
#boitelogin A { color:#ffffff; }
#boitelogin LABEL { color:#ffffff; }
.formulaire_login input.text, .formulaire_login input.password { margin-top:2px; padding:4px 0 4px 4px; border:none; width:78%; }
.formulaire_login .boutons .submit { font-weight:bold; background:#53B237; color:#ffffff; padding:4px; border:none; }

#titrenews { font-size:2.2em; font-weight:normal; color:#EE9E2F; margin:12px 0; }
#boitenews { width:250px; padding:20px 15px; margin-bottom:20px; background:#EE9E2F; color:#ffffff; }
#boitenews A { color:#ffffff; }

#titreaussi { font-size:2.2em; font-weight:normal; color:#008FD3; margin:12px 0; }
#boiteaussi { margin-bottom:20px; color:#000000; }
#boiteaussi A { color:#000000; }
#boiteaussi UL { margin-left: 15px; }
.ie6 #boiteaussi UL, .ie7 #boiteaussi UL, .ie8 #boiteaussi UL { margin-left: 20px; }

.formulaire_spip .erreur { display: block; color: #C30; font-weight: bold; }

/*--- Titraille / Intertitres ---
h1,h2,h3,h4,h5,h6 { margin: 0; padding: 0; font-weight: normal; font-size: 1em; font-family:Georgia,Times,serif; }
h1 { font-size: 1.70em; color: #000; }
h2 { font-size: 1.40em; font-weight: normal; }
h2, h2 a, h2 a:focus, h2 a:hover, h2 a:active { color: #003; }
h3,h4 { font-size: 1.20em; font-weight: bold; }
h3.spip {}
hr.spip {}
---*/
.texte HR, HR.spip { clear:both; margin:10px 0; height:2px; border:none; border-bottom:2px dotted #72B3D3; }

/*--- Citations, code et poesie
cite {}
q {}
blockquote {}
blockquote.spip_poesie {}
.spip_code {}
.spip_cadre {}
address {}
 ---*/
.stylequote { font-weight:bold; color:#E09020; }

/*--- Tableaux
table.spip {} ---*/

/*--- Logos, documents et images Cf.: spip_style.css ---*/
.spip_logos { float:left; margin-right:10px; }
.spip_documents_left { float: left; margin:4px 15px 8px 0; }
.spip_documents_right { float: right; margin:4px 0 8px 15px; }

/* ------------------------------------------
   Disposition a l'ecran des blocs principaux
   ------------------------------------------
#entete { width: 58em; margin: 0; padding-top: 1.60em; border-bottom: 2px solid #8B6F92; }
#entete a.accueil { display: block; width: 67%; }
#entete a.accueil img.spip_logos { vertical-align: bottom; line-height: 1em; }
#entete a.accueil #nom_site_spip { vertical-align: bottom; font-size: 2.2em; font-family:Georgia,Times,serif; font-weight: normal; }
#entete .formulaire_menu_lang { position: absolute; right: 0; top: 0.90em; display: block; width: 30%; }

#conteneur { clear: both; float: left; width: 67%; overflow: hidden; }
#contenu { padding-top: 0.30em; }

#navigation { float: right; width: 30%; margin-top: 1em; overflow: hidden; }
#extra { float: right; clear: right; width: 30%; margin-top: 1em; overflow: hidden; }

#pied { clear: both; width: 100%; margin: 0; padding: 0.40em 0; border-top: 1px solid #8B6F92; text-align: center; font-size: 0.90em; }
#pied img { vertical-align: middle; }
-------*/

/*--- Espaceur de blocs ---*/
.nettoyeur { clear: both; height: 0; margin: 0; padding: 0; border: 0; line-height: 1px; font-size: 1px; }

/*--- Non visible a l'ecran ---*/
.invisible { position: absolute; top: -3000em; height: 1%; }


/* ------------------------------------------
   Habillage des elements du contenu
   ------------------------------------------
#hierarchie { clear: both; margin-bottom: 2em; font-size: 0.90em; }
#hierarchie, #hierarchie a { color: #666; }

.cartouche { margin-bottom: 2em; }
.cartouche .spip_logos { float: right; margin-left: 16px; margin-bottom: 4px; }
.cartouche p { margin: 0; padding: 0; clear: left; }
.surtitre, .soustitre { font-size: 0.90em; color: #666; text-transform: uppercase; letter-spacing: 0.10em; }
.cartouche .surtitre { margin-bottom: 0.30em; }
.cartouche .soustitre { margin-top: 0.50em; margin-bottom: 0.30em; }
.cartouche .traductions { font-size: 0.90em; }
------- */

.chapo { margin-bottom: 1.50em; line-height: 1.40em; font-weight: bold; color: #669; }
.texte { line-height:135%; text-align:justify; }
.texte P { margin:8px 0; }

.hyperlien { display: block; background: #EEE; padding: 0.50em 1em; font-weight: bold; color: #8B6F92; }
.ps, .notes { margin-bottom: 2em; line-height: 1.40em; }
.notes { clear: both; font-size: 0.90em; }

abbr.published { border: 0; }

/*--- Portfolio ---*/
#documents_portfolio { clear: both; margin: 2em auto; text-align: center; }
#documents_portfolio .spip_logos { margin: 6px 3px 0 3px; border: 4px solid #DDD; }
#documents_portfolio a.on .spip_logos { border-color: #F57900; }
#documents_portfolio a:focus .spip_logos,
#documents_portfolio a:hover .spip_logos,
#documents_portfolio a:active .spip_logos { border-color: #8B6F92; }

.portfolio { clear:both; margin:8px auto; text-align:center; background:#ffffff; border-collapse:collapse; }
.portfolio TD { text-align:center; vertical-align:middle; padding:4px; border:1px solid #DDDDDD; }

/*--- Habillage des forums --- */
div.forum { margin-top: 10px; }
.repondre { clear: both; margin-top: 2.50em; margin-right: 1em; text-align: right; font-weight: bold; }
ul.forum { display: block; clear: both; margin: 0; padding: 0; }
ul.forum, ul.forum ul { list-style: none; }
.forum-fil { margin-top: 1.50em; }
.forum-fil ul { display: block; margin: 0; padding: 0; margin-left: 1em; }
.forum-chapo .forum-titre, .forum-chapo .forum-titre a { display: block; margin: 0; padding: 0; font-weight: bold; color: #333; }
.forum-texte { margin: 0; padding: 0.50em 1em; color: #333; }
.forum-texte .hyperlien {}
.forum-texte .repondre { margin: 0; padding: 0.10em 0; text-align: right; }

/*--- Boite d'un forum : eclaircissement progressif des bords ---*/
ul .forum-message { border: 1px solid #666; margin: 0; padding: 0; margin-bottom: 1em; }
ul ul .forum-message { border: 1px solid #A4A4A4; }
ul ul ul .forum-message { border: 1px solid #B8B8B8; }
ul ul ul ul .forum-message { border: 1px solid #CCC; }
ul ul ul ul ul .forum-message { border: 1px solid #E0E0E0; }
ul ul ul ul ul ul .forum-message { border: 1px dotted #E0E0E0; }

/*--- Boite de titre d'un forum : mise en couleur selon la profondeur du forum ---*/
ul .forum-chapo { border: 0; border-bottom: 1px dotted #B8B8B8; margin: 0; padding: 3px 6px 2px 6px; background: #C4E0E0; }
ul ul .forum-chapo { background: #D4E8E8; }
ul ul ul .forum-chapo { background: #E4F0F0; }
ul ul ul ul .forum-chapo { background: #F4F8F8; border-bottom: 1px dotted #E0E0E0; }
ul ul ul ul ul .forum-chapo { background: #FFF; }


/*--- Habillage des petitions --- */
#signatures { clear: both; margin: 0 0 2em 0; padding: 0; background: none; }
#signatures table { width: 100%; margin: 1em 0 0 0; }
#signatures thead { text-align: center; color: #555; }
#signatures td { padding: 0.50em; border: 2px solid #FEFEFE; vertical-align: top; }
#signatures td.signature-date { background: #E4F0F0; text-align: center; white-space: nowrap; }
#signatures td.signature-nom { background: #ECF4F4; text-align: center; }
#signatures td.signature-nom small { display: block; }
#signatures td.signature-message { background: #F4F8F8; }
#signatures .formulaire_recherche { margin: 1em 0; text-align: right; }
#signatures .formulaire_recherche input.text { width: 10em; text-align: left; }

/*--- Pagination ---*/
.pagination { clear: both; text-align: right; font-size: 0.90em; color: #666; }
.pagination .on { font-weight: bold; color: #666; }


/* mettre en valeur les champ en lecture seul */
input[readonly] {
  background: #c2c2c2;
}

/*--- Rubriques
.rubriques ul { border: 0; }
.rubriques ul li { background: #EEE; border: 0; }
.formulaire_recherche { margin-bottom: 2em; }
--- Listes d'articles et extraits introductifs ---
.articles ul li { clear: both; padding: 0.40em 0.20em; }
.articles ul li h3 { margin: 0.30em 0; }
.articles .spip_logos { float: right; clear: right; margin: 0 0 4px 16px; }
.articles ul li .enclosures { float: right; text-align: right; max-width: 60%; margin: 0; }
.articles ul li .introduction { margin-top: 0.30em; line-height: 1.40em; }
---*/
