<plugin>
    <nom>Image Drapeau</nom>
    <auteur>Debondt Didier</auteur>
    <licence>GNU/GLP</licence>
    <version>0.1</version>
    <description>
    	Ajoute un |drapeau
    </description>
    <etat>dev</etat>
    <prefix>drapeau</prefix>
    
    <fonctions>drapeaux_fonction.php</fonctions>
    
    <pipeline>
        <nom>declarer_tables_interfaces</nom>
        <inclure>base/create_table.php</inclure>
	</pipeline>
	<pipeline>
	        <nom>declarer_tables_principales</nom>
	        <inclure>base/create_table.php</inclure>
	</pipeline>
	
	<version_base>1.0</version_base>
	<install>base/drapeau_upgrade.php</install>
	
	<bouton id="drapeau">
	    <icone>chemin de l'icone</icone>
	    <titre>Drapeau</titre>   
	    <url>banzai</url>   
	</bouton>
</plugin>